// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import './variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.sidebar{
    min-width: 15rem;
    min-height: 100vh;
    max-height: 100vh;
    max-width: 15rem;
    position: fixed;
    left: 0px;
    top: 0px;
    .sidebar-content{
        padding-top: 4rem;
        .menu-link{
            font-size: 1rem;
            text-decoration: none;
            color:var(--dark);
            &:hover{
                color:var(--primary);
            }
            &.active{
                background: var(--primary);
                color:var(--light);
            }
        }
    }
}
.main{
    padding-left: 15rem;
}
.bh-navbar{
    max-height: 4rem;
}

@keyframes devview {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.devpage{
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: rgb(46, 56, 53);
    animation: devview 0.5s ease-in;
    z-index: 1024;
}

.scrollbar-none{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar{
        display: none;
    }
}